<div class="offcanvas offcanvas-start sidebar-nav socket text-white" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">

  <div class="offcanvas-body p-0">

    <nav class="navbar-dark mt-3">
      <div class="text-white small fw-bold text-uppercase px-3">
        Menu
      </div>
      <a href="/" class="nav-link px-3 active">
        <span class="me-2 text-white">
          <i class="fas fa-chart-line"></i>
        </span>
        <span class="text-light text-capitalize">Dashboard</span>
      </a>

      <a href="/inventory" class="nav-link px-3">
        <span class="me-2 text-white">
          <i class="fas fa-boxes"></i>
        </span>
        <span class="text-light text-capitalize">Inventory</span>
      </a>

      <a href="/sales" class="nav-link px-3">
        <span class="me-2 text-white">
          <i class="fas fa-capsules"></i>
        </span>
        <span class="text-light text-capitalize">Sales</span>
      </a>


      <a href="/products" class="nav-link px-3">
        <span class="me-2 text-white">
          <i class="fas fa-list"></i>
        </span>
        <span class="text-light text-capitalize">Products</span>
      </a>

    </nav>
  </div>
</div>